h2, h3 {
  font-size: 30px;
  text-align: center;
}

ul li {
  display: inline-block;
}

.health {
  list-style-type: none;
  font-size: 24px;
  text-align: center;
}

.health li:last-child {
  padding-left: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 30px;
  font-weight: 700;
  margin: 5px;
  padding: 25px;
}

#game-canvas, .game-commands {
  float: left;
  margin: 20px;
}
